<form class="flex w-full">
    <div class="flex-1 px-7 py-4">
        <div class="flex justify-between items-center w-full mb-3">
            <h2 class="text-xl">Description</h2>
            <p class="font-semibold text-red-600 text-xs">* is required</p>
        </div>
        <mat-form-field class="w-full">
            <mat-label>Marketing name</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field class="w-full">
            <mat-label>Technical name</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field class="w-full">
            <mat-label>Description</mat-label>
            <textarea matInput rows="6"></textarea>
          </mat-form-field>
    </div>
    <div class="flex-1 px-7 py-4">
        asd
    </div>
</form>