<article class="px-7 py-7">
  <h2 class="text-xl mb-5">{{ title }}</h2>
  <p class="mb-3">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum facilis
    cumque quod exercitationem, enim debitis nisi quaerat sed reiciendis autem,
    magni voluptas quam rem. Omnis distinctio ab et possimus enim. Debitis, a
    accusantium unde iusto minus optio excepturi nesciunt porro asperiores.
    Commodi, ducimus doloremque? Autem nam optio minus aperiam, facilis quod
    labore explicabo, non illo amet, obcaecati exercitationem maxime quam?
    Consequuntur id obcaecati ipsam fuga quis impedit, placeat quo esse at
    asperiores dicta, labore quidem sapiente nobis totam tempore quaerat! Quis
    laboriosam ducimus vel consequatur nam, unde delectus possimus facilis?
  </p>
  <p class="mb-3">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum facilis
    cumque quod exercitationem, enim debitis nisi quaerat sed reiciendis autem,
    magni voluptas quam rem. Omnis distinctio ab et possimus enim. Debitis, a
    accusantium unde iusto minus optio excepturi nesciunt porro asperiores.
    Commodi, ducimus doloremque? Autem nam optio minus aperiam, facilis quod
    labore explicabo, non illo amet, obcaecati exercitationem maxime quam?
    Consequuntur id obcaecati ipsam fuga quis impedit, placeat quo esse at
    asperiores dicta, labore quidem sapiente nobis totam tempore quaerat! Quis
    laboriosam ducimus vel consequatur nam, unde delectus possimus facilis?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum facilis
    cumque quod exercitationem, enim debitis nisi quaerat sed reiciendis autem,
    magni voluptas quam rem. Omnis distinctio ab et possimus enim. Debitis, a
    accusantium unde iusto minus optio excepturi nesciunt porro asperiores.
    Commodi, ducimus doloremque? Autem nam optio minus aperiam, facilis quod
    labore explicabo, non illo amet, obcaecati exercitationem maxime quam?
    Consequuntur id obcaecati ipsam fuga quis impedit, placeat quo esse at
    asperiores dicta, labore quidem sapiente nobis totam tempore quaerat! Quis
    laboriosam ducimus vel consequatur nam, unde delectus possimus facilis?
  </p>
</article>
